name: rs-odbc

services:
  mariadb:
    container_name: rs-odbc
    build: docker/mariadb
    ports:
      - "3307:3306"
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: 'true'
      MARIADB_ALLOW_EMPTY_PASSWORD: 'true'
    volumes:
      - './:/root/rs-odbc'
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-uroot", "--silent"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
